doctype html
head
  <meta charset="utf-8">
  <title>Sneakerce</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  style.
    .formm{
    height: 50px;
    color: #2B3252;
    margin-left: 30px;
    }

    .f{
    font-size : 225px;
    text-align: right;	
    line-height: 150px;
    }

    .fr{
      float: right;
      margin-left: -400px;
    }

    .button{
      width: 190px;
      font-weight: bold;
      font-size: 20px;
      height: 40px;
      text-align: center;
      border-radius: 100px;
      border : 2px solid #FAD744;
      color: #FAD744;
      transition: 1.5s;
      text-align: center;
      background-color: #EF5455;
      padding-bottom: 40px;
      position: fixed;
      margin-top: 300px;
      margin-left: -450px;
      }

      .Top{
      margin-top: -10px;
      padding-bottom: 50px;
    }

    .yellow{
      color: #FAD744;
    }

    .blue{
      color: #2B3252;
    }

    .bgbody{
      background-color : #EF5455;;
      }

    .navbar{
      background-color: #EF5455;
      margin-left: 550px;
    }

    .pic6{
      float: left;
      margin-left: 88px;
      margin-top:-60px;
    }

    h1{
      font-size: 80px;
      margin-top:150px;
    }

body.mt-2.bgbody
    .container-fluid
      .top
        include ./partials/navbar
      
      .media.formm
        h1.blue Successful Purchase
 
        .media-body
          a(href = "/products" class = "button button yellow bt") Back to shopping
          img(class = "pic6" src = "/images/7.png" alt = "img" height = "760px")
          .fr
            h1.mt-0.f.blue
              strong SK
            h1.mt-0.f.yellow
              strong NE
            h1.mt-0.f.blue
              strong ER
            h1.mt-0.f.yellow
              strong AC